body, html{
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%
}
header {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.App-content {
  display: flex;
}
.App-left {
  flex: 25%;
  padding: 20px;
}
.App-right {
  flex: 75%;
  padding: 20px;
}

